* {
	font-family: "microsoft yahei";
	-webkit-font-smoothing: antialiased;
}


header {
	padding-top: 2%;
}

img.home-title {
	width: 22%;
}

body {
	padding-top: 4%;
}

p.bread-crumb,p.bread-crumb a {
	color: #C81D1E;
	font-size: 20px;
	font-weight: bold;
}
